<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Strategies" stopProcessing="true">
                    <match url="^strategies/?$" />
                    <action type="Rewrite" url="strategies.html" />
                </rule>
                <rule name="Values" stopProcessing="true">
                    <match url="^values/?$" />
                    <action type="Rewrite" url="values.html" />
                </rule>
                <rule name="Root" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 